html {
  scroll-padding-top: 182px;
}
body {
  margin: 0;
}

#main-header {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 45%);
  display: flex;
  position: fixed;
  height: 10vw;
  z-index: 1;
}

.header-left {
  width: 35%;
  margin-left: 5%;
  text-align: center;
}
.logo {
  width: 70%;
  margin-top: 5%;
}
.icon-text {
  margin-top: -0.1rem;
  margin-bottom: 0rem;
  font-family: "Rajdhani", sans-serif;
  color: #fab00d;
  font-weight: 200;
  font-size: 1.25vw;
  line-height: 1.25vw;
  text-align: center;
}

.header-right {
  width: 65%;
  height: 10vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.5fr;
  width: 100%;
}
.header-right-top {
  display: inline;
  text-align: right;
  margin: auto;
  margin-right: 15%;
}
.icon {
  height: 25px;
  filter: invert(70%) sepia(49%) saturate(1001%) hue-rotate(352deg)
    brightness(99%) contrast(98%);
  vertical-align: middle;
}
.email {
  text-decoration: none;
  font-family: "Rajdhani", sans-serif;
  color: white;
  font-size: 1.5vw;
  padding-right: 3vw;
  font-weight: 200;
}
.phone {
  text-decoration: none;
  font-family: "Rajdhani", sans-serif;
  color: white;
  font-size: 1.5vw;
  border-style: solid;
  border-color: #fab00d;
  border-radius: 180px;
  padding: 4px 30px;
  letter-spacing: 2px;
  font-weight: 200;
}
.header-right-bottom {
  background: #077447;
  display: flex;
  align-items: center;
}

#nav_list {
  list-style: none;
  margin-top: 0px;
}
#nav_list li {
  float: left;
}
.nav_item {
  text-decoration: none;
  font-family: "Rajdhani", sans-serif;
  color: white;
  font-size: 1.25vw;
  padding-left: 3.25vw;
  padding-right: 3.25vw;
}
.yellow {
  color: #fab00d;
}
.active,
.nav_item:hover {
  font-weight: bold;
}

/***** Home Section *****/
#home {
  height: 100%;
  padding: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/imgs/iStock-1160619355.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 100px;
}

.home_text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 10vw;
  text-align: center;
}
.main_title {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 4.75vw;
  text-transform: uppercase;
  color: white;
}
.sub_title {
  font-family: "Rajdhani", sans-serif;
  font-weight: 200;
  font-size: 2.5vw;
  text-transform: uppercase;
  color: white;
  margin-top: -5vw;
  letter-spacing: 4.75px;
}
.list_title {
  list-style-type: none;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fab00d;
  font-size: 1.25vw;
  margin-top: -2vw;
}
.list_title li {
  display: inline-flex;
  padding-right: 2vw;
  margin-top: -4vw;
  letter-spacing: 2px;
}
.contact_button {
  display: inline-block;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5vw;
  text-transform: uppercase;
  color: white;
  border-style: solid;
  border-color: #fab00d;
  border-radius: 180px;
  padding: 6px 74px;
  margin-top: 1vw;
  letter-spacing: 2px;
  text-decoration: none;
}
.contact_button:hover {
  background-color: #fab00d;
}
hr {
  background: linear-gradient(to right, #067447, #8db404);
  height: 10px;
  margin-top: 0px;
  margin-bottom: -1px;
}
/***** About Section *****/
#about {
  background-image: url(/imgs/Group\ 3.png);
  background-position: right 145% top 20%;
  background-repeat: no-repeat;
}
.about_top {
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 5% 5% 45%;
  grid-template-rows: 75%;
}
.employees {
  margin-left: -20px;
  max-width: 100%;
  margin-top: -20px;
  margin-bottom: -23px;
  padding-right: 15px;
  height: 100%;
  background-image: url(/imgs/iStock-172237465_blur.jpg);
  background-position: right 20px;
  background-repeat: no-repeat;
  background-size: 150%;
}

.about_title {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-family: "Rajdhani", sans-serif;
  font-size: 58px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #737373;
  margin-left: -5px;
  margin-top: 100px;
  letter-spacing: 2px;
}
.about_header {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 72px;
  text-transform: uppercase;
  color: #fab00d;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 0px;
  letter-spacing: 5px;
}
.about_sub_header {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: black;
  margin-top: -30px;
  margin-bottom: -5px;
}
.about_text {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  line-height: 125%;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 160px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.about_bottom {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 75%;
  margin-top: -200px;
}
.about_bottom_left {
  margin-left: 170px;
}
.about_bottom_header {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 72px;
  text-transform: uppercase;
  color: #fab00d;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 0px;
  letter-spacing: 5px;
}
.about_bottom_sub_header {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: black;
  margin-top: -30px;
  margin-bottom: -5px;
}
.f150 {
  height: 85%;
  max-height: 100%;
  margin-left: -175px;
}

.about_bottom_text_left {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  line-height: 125%;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 120px;
}
.about_list {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  line-height: 125%;
  margin-top: -20px;
  margin-left: -40px;
  list-style-type: none;
}
.about_list_li {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  margin-bottom: -15px;
}
.dashes {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  color: #fab00d;
  font-size: 18px;
  letter-spacing: 2px;
}
.about_bottom_text_right {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  line-height: 125%;
  text-align: justify;
  text-justify: inter-word;
  margin-top: -55px;
  margin-right: 160px;
}
/***** Process Section *****/

#process {
  margin-top: -90px;
}
.process_top {
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 5% 5% 45%;
  grid-template-rows: 75%;
  background: linear-gradient(to right, #067447, #8db404);
}
.process_header_one {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #fab00d;
  text-align: left;
  margin-bottom: 0px;
  letter-spacing: 5px;
}
.process_header_two {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #fab00d;
  text-align: left;
  margin-top: -15px;
  letter-spacing: 5px;
  margin-bottom: 0px;
}
.black {
  color: black;
}
.process_top_left {
  margin-left: 170px;
}
.process_sub_header {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  text-align: left;
  line-height: 100%;
  margin-top: -10px;
}
.process_center_right {
  writing-mode: tb-rl;
  transform: rotate(-360deg);
  font-family: "Rajdhani", sans-serif;
  font-size: 58px;
  font-weight: lighter;
  text-transform: uppercase;
  color: white;
  margin-left: -5px;
  margin-top: 32px;
  letter-spacing: 2px;
}
.process_top_right {
  margin-top: 100px;
  background-image: url(/imgs/two-construction-workers_2.png);
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 98%;
}

.process_top_left_text_one {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  line-height: 125%;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 0px;
  margin-top: -30px;
  color: white;
}
.process_top_left_text_two {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  line-height: 125%;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 0px;
  color: white;
}

.process_bottom {
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 75%;
  margin-top: -200px;
  background-image: url(/imgs/rough-grey-cement-wall-concrete-texture-background-YJYKVBV.jpg);
  margin-bottom: 0px;
}

.process_bottom_left {
  margin-left: 170px;
}
.process_bottom_right {
  margin-right: 170px;
}
.process_bottom_text {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  line-height: 125%;
  text-align: justify;
  text-justify: inter-word;
  color: black;
}

.box_left {
  border-radius: 25px;
  background: #067447;
  padding: 0px 25px 25px 25px;
  height: 370px;
  margin-top: 100px;
}
.box_left:hover {
  background: linear-gradient(to left, #067447, #8db404);
}
.box_right {
  border-radius: 25px;
  background: #067447;
  margin-top: 210px;
  padding: 0px 25px 25px 25px;
  height: 370px;
}
.box_right:hover {
  background: linear-gradient(to left, #067447, #8db404);
}
.box_title {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 44px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  line-height: 100%;
  padding-top: 30px;
}
.box_text {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  line-height: 125%;
  text-align: justify;
  text-justify: inter-word;
  color: white;
  margin-top: -30px;
  margin-bottom: 0px;
}
.process_bottom_center_text {
  font-family: "Rajdhani", sans-serif;
  font-size: 46px;
  font-weight: 600;
  text-transform: uppercase;
  color: #464646;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 365px;
}
/***** Services Section *****/
#services {
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 75%;
}
.services_left {
  margin-left: 170px;
}
.services_right {
  margin-right: 170px;
  text-align: start;
  padding-bottom: 200px;
}
.services_title_one {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 48px;
  color: black;
}
.services_title_two {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 72px;
  color: #fab00d;
  margin-top: -70px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.services_button {
  border: 2px solid #fab00d;
  color: black;
  text-align: left;
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.services_button:after {
  content: ">>";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
  color: white;
  font-size: 22px;
}

.services_button:hover {
  padding-right: 24px;
  padding-left: 8px;
  background: linear-gradient(to right, #cc900b, #fab00d);
  color: white;
  border: hidden;
}

.services_button:hover:after {
  opacity: 1;
  right: 10px;
}
.services_img {
  max-width: 100%;
  width: auto;
  margin-top: 175px;
  border: 2px solid #fab00d;
}
.services_list_title {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: -10px;
}
.services_list_li {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  margin-bottom: -15px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
/***** Contact Section *****/
#contact {
  margin-top: 150px;
}
.contact_top {
  height: 70vh;
  display: grid;
  grid-template-columns: 50% 50%;
  background: url(/imgs/dotted_map_1.png),
    linear-gradient(to right, #067447, #8db404);
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: right bottom;
}
.map_1 {
  width: 145%;
  margin-left: -130px;
  margin-top: -40px;
}
.contact_top_left {
  margin-left: 170px;
  width: 580px;
}
.contact_top_right {
  margin-right: 170px;
}

.contact_top_left_header {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  color: #fab00d;
  text-align: left;
  margin-bottom: 0px;
  letter-spacing: 5px;
}
.contact_top_right_header {
  font-family: "Rajdhani", sans-serif;
  font-weight: normal;
  font-size: 48px;
  text-transform: uppercase;
  color: white;
  text-align: right;
  margin-top: -90px;
  margin-left: 215px;
  letter-spacing: 5px;
}
.white {
  color: white;
}
.contact_location {
  display: flex;
  margin-right: 110px;
  margin-top: 25px;
  background-color: #08a364;
  border-radius: 15px;
}
.contact_phone_email {
  display: flex;
  margin-top: 15px;
  margin-right: 110px;
}
.contact_phone {
  background-color: #08a364;
  display: flex;
  margin-right: 15px;
  border-radius: 15px;
  width: 290px;
}
.contact_phone_text_top {
  font-family: "Rajdhani", sans-serif;
  color: white;
  font-weight: bold;
  padding-top: 5px;
  font-size: 18px;
}
.contact_phone_text_bottom {
  font-family: "Rajdhani", sans-serif;
  color: #fab00d;
  font-weight: bold;
  font-size: 18px;
  margin-top: -15px;
}
.contact_email_text {
  font-family: "Rajdhani", sans-serif;
  color: white;
  font-weight: normal;
  padding-top: 15px;
  display: flex;
  border-radius: 15px;
  font-size: 18px;
}
.contact_email {
  background-color: #08a364;
  display: flex;
  border-radius: 15px;
  width: 290px;
}
.contact_img {
  height: 35px;
  align-self: center;
  margin: 20px;
}
.light_green {
  color: #09b26d;
}
.contact_text_top {
  font-family: "Rajdhani", sans-serif;
  color: white;
  font-weight: bold;
  padding-top: 5px;
  font-size: 18px;
}
.contact_text_bottom {
  font-family: "Rajdhani", sans-serif;
  margin-right: 140px;
  color: white;
  font-weight: normal;
  margin-top: -10px;
  margin-right: -10px;
}

.contact_bottom {
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 75%;
  margin-bottom: -180px;
  margin-top: 50px;
}

.form_header {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #fab00d;
  text-align: left;
  margin-bottom: 0px;
  letter-spacing: 5px;
}
form {
  width: 450px;
}
form input,
select,
option {
  display: inline-block;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  border-style: solid;
  border-color: #fab00d;
  border-radius: 180px;
  padding: 6px;
  padding-left: 20px;
  margin-right: 15px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
select {
  padding-right: 40px;
  margin-right: 10px;
}
.submit {
  display: inline-block;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border-style: solid;
  border-color: #fab00d;
  background-color: #fab00d;
  border-radius: 180px;
  padding: 6px;
  padding-left: 20px;
  margin-right: 15px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  width: 100%;
}
.half_width {
  width: 47%;
}
.full_width {
  width: 90%;
}
input:focus,
select:focus {
  outline: none;
}
/***** Footer Section *****/
footer {
  height: 250px;
  background-image: url(/imgs/footer/Emerald_Logo01_footer_back_1.png),
    url(/imgs/footer/asphalt-pavement-texture-PXGKPDM.jpg);

  background-position: -18% 25px, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 40%, 100%;
  margin-top: 20px, 0px;
  background-blend-mode: overlay;
}
.spacer {
  height: 35px;
}
.footer_top {
  height: 70px;
  background: linear-gradient(to right, #8db404, #067447, #067447);
  margin-right: 350px;
}
.footer_right_top {
  display: inline-block;
  padding-left: 20px;
}

.footer_icon_text {
  text-align: start;
  margin-top: -100px;
  font-family: "Rajdhani", sans-serif;
  color: #fab00d;
  font-weight: 200;
  font-size: 17px;
  line-height: 16px;
  display: block;
  text-align: center;
}
.footer_logo {
  height: 115px;
  float: right;
  margin-top: -10px;
  margin-right: -180px;
}
.footer_text {
  height: 115px;
  text-align: center;
  margin-top: 190px;
  margin-right: -180px;
}

#footer_list {
  list-style-type: none;
  margin-left: 200px;
}
#footer_list li {
  padding-top: 26px;
  float: left;
}
.footer_item {
  text-decoration: none;
  font-family: "Rajdhani", sans-serif;
  color: white;
  font-size: 18px;
  display: inline;
  text-align: left;
  padding: 40px;
}
.footer_item:hover {
  font-weight: bold;
}
.social_icon {
  border-radius: 50%;
  height: 30px;
  background: #fab00d;
  margin: 10px;
  padding: 5px;
}
.social_icon:hover {
  background: white;
}
.social_icon_group {
  margin-top: 10px;
  padding-left: 10%;
}
.footer_bottom {
  display: flex;
}
.footer_links {
  margin-top: 20px;
  padding-left: 10%;
}
.footer_email {
  text-decoration: none;
  font-family: "Rajdhani", sans-serif;
  color: white;
  font-size: 20px;
  padding-right: 45px;
  font-weight: 200;
}
.footer_phone {
  text-decoration: none;
  font-family: "Rajdhani", sans-serif;
  color: white;
  font-size: 24px;
  border-style: solid;
  border-color: #fab00d;
  border-radius: 180px;
  padding: 4px 15px;
  letter-spacing: 2px;
  font-weight: 200;
}
